pandas==0.25.3
nltk==3.6.5
textblob==0.15.3
plotly==4.5.4
tweepy==3.8.0
numpy==1.18.0
Unidecode==1.1.1
requests==2.22.0
Flask==2.3.2
flask_pymongo
pymongo
dnspython
pytz
tzlocal
tqdm
redis
rq
rq-scheduler==0.9.1
