{% extends "generic.html" %}

{%block side_navigation_bar %}
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h5 class="text-white h4">State-wise Data Analysis</h5>
            {% for state_name in state_list %}
                <div class="btn-group mb-2" role="group" aria-label="State button group">
                    <button type="button" class="btn btn-primary btn-sm active" onclick="window.location.href='{{url_for('state_analysis', state=state_name)}}'">{{state_name}}</button>
                </div>
            {% endfor %}
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

{% endblock%}

{% block daily_data %}

    <p class="text-center text-muted">Last Updated: {{daily_data['Last_Updated_Time']}}</p>

    <div class="container px-4">
        <div class="row gx-1">
            <div class="card bg-dark text-white m-1" style="width: 20rem;">
                <div class="card-body">
                    <h3 class="card-title text-center justify-content-center">Active</h3>
                    <h6  class="card-text text-center">{{"{:,}".format(daily_data['Active'])}}</h6>
                </div>
            </div>

            {% for itr in ['Confirmed', 'Recovered', 'Deaths']%}
                <div class="card bg-dark text-white m-1" style="width: 19rem;">
                    <div class="card-body">
                        <h3 class="card-title text-center justify-content-center">{{itr}}</h3>
                        <h6 class="card-text text-center">{{"{:,}".format(daily_data[itr])}}</h6>
                        <p class="card-text text-center text-success">
                            <i class="bi-plus"></i>
                            {{"{:,}".format(daily_data['Delta_' + itr])}}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container mb-2">
        <div class=" p-3 mb-2 bg-success text-white text-center">Vaccine Administered: {{"{:,}".format(daily_data['Vaccine Administered'])}}</div>
    </div>

{% endblock daily_data %}

{% block time_series_data %}
    <div class="container">
        <div class="row gx-1">
            <canvas id="time-series-total" width="600px" height="400px"></canvas>
            <script type="text/javascript">
                var chart_id = "time-series-total"
                var total_line_data = {{ time_series_total|tojson }}
                var title_text = "Total Cases"
            </script>
            <script src="{{url_for('static', filename='js/line_chart.js')}}"></script>

            <canvas id="time-series-daily" width="600px" height="400px"></canvas>
            <script type="text/javascript">
                var chart_id = "time-series-daily"
                var total_line_data = {{ time_series_daily|tojson }}
                var title_text = "Daily Cases"
            </script>
            <script src="{{url_for('static', filename='js/line_chart.js')}}"></script>

            {% for st in top_states_total %}
                <canvas id="{{st['g_id']}}" width="600px" height="400px"></canvas>
                <script type="text/javascript">
                    var chart_id = "{{ st['g_id'] }}"
                    var total_bar_data = {{ st['g_data']|tojson }}
                    var title_text = "{{ st['g_title'] }}"
                </script>
                <script src="{{url_for('static', filename='js/bar_chart.js')}}"></script>
            {% endfor %}
        </div>
    </div><br>

{% endblock time_series_data %}

{% block twitter_data %}
    <div class="container">
        <div class="row gx-1">
            <section class="content">
			    <h1 class="text-white text-center">Live Twitter Data</h1>
                    <div class="col-md-18 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-custom btn-tweet-filter text-white" data-target="Covid Info">General</button>
                                        <button type="button" class="btn btn-custom btn-tweet-filter text-white" data-target="Beds">Beds</button>
                                        <button type="button" class="btn btn-custom btn-tweet-filter text-white" data-target="Oxygen">Oxygen</button>
                                        <button type="button" class="btn btn-custom btn-tweet-filter text-white" data-target="Venitlator">Venitlator</button>
                                    </div>
                                </div>
                                <div class="table-container">
                                    <table class="table table-tweet table-filter">
                                        <tbody>
                                            {% for twitter_data in covid_twitter_data %}
                                                {% set tweet_category = twitter_data['category'][0] if twitter_data['category']|length == 1 else twitter_data['category']| random %}
                                                <tr data-status="{{tweet_category}}">
                                                    <td>
                                                        <div class="media">
                                                            <div class="media-body">
                                                                <span class="media-meta pull-right">{{twitter_data['created_at']}}</span>
                                                                <h4 class="title text-white">
                                                                    {{twitter_data['user_location'] or 'India'}}
                                                                    <span class="pull-right generic {{tweet_category}}"> ({{", ".join(twitter_data['category'])}})</span>
                                                                </h4>
                                                                <p class="summary text-white">{{twitter_data['tweet_data']}}</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
		    </section>
        </div>
    </div>

    <div class="container">
        <div class="row gx-1">
            <section class="content"><br>
			    <h1 class="text-white text-center">Live Hashtag Tracker</h1>
                    <div class="col-md-18 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <script> var btn_id = "btn-hashtag-filter"</script>
                                        {% for h_tag in ["#Beds", "#Oxygen", "#Remdesivir", "#Ventilator", "#Crematorium", "#Vaccine"] %}
                                            <button type="button" class="btn btn-custom btn-hashtag-filter text-white" data-target="{{h_tag}}">{{h_tag}}</button>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="table-container">
                                    <table class="table table-htag table-filter">
                                        <tbody>
                                            {% for hashtag_data in hashtag_twitter_data %}
                                                {% set hashtag_category = hashtag_data['category'][0] if hashtag_data['category']|length == 1 else hashtag_data['category'][1] %}
                                                <tr data-status="{{hashtag_category}}">
                                                    <td>
                                                        <div class="media">
                                                            <div class="media-body">
                                                                <span class="media-meta pull-right">{{hashtag_data['created_at']}}</span>
                                                                <h4 class="title text-white">
                                                                    {{hashtag_data['user_location'] or 'India'}}
                                                                    <span class="pull-right generic {{hashtag_category}}"> ({{", ".join(hashtag_data['category'])}})</span>
                                                                </h4>
                                                                <p class="summary text-white">{{hashtag_data['text']}}</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
		    </section>
        </div>
    </div>

    <div class="container">
        <div class="row gx-1">
            <h1 class="text-white text-center">Important User Tracker</h1>
            {% for user, user_data_list in user_specific_data.items() %}
                <div class="col-md-4 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-container">
                                <h4 class="text-white text-center">{{user}}</h4>
                                <table class="table table-imp table-filter">
                                    <tbody>
                                        {% for user_d in user_data_list %}
                                            <tr data-status="user-specific-{{loop.index}}">
                                                <td>
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <span class="media-meta pull-right">{{user_d['created_at']}}</span>
                                                            <h4 class="title text-white">
                                                                {{user_d['user_location'] or 'India'}}
                                                                <span class="pull-right generic"> {{", #".join(user_d['hashtags'])}}</span>
                                                            </h4>
                                                            <p class="summary text-white">{{user_d['text']}}</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock twitter_data %}

{% block vaccine_distribution_data %}

    <h1 class="text-white text-center">Vaccine Distribution Analysis</h1>

    <div class="container">
        <div class="row gx-1">
            {% for vac_graph in vaccine_data %}
                <canvas id="{{vac_graph['chart_id']}}" width="600px" height="400px"></canvas>
                <script type="text/javascript">
                    var chart_id = "{{ vac_graph['chart_id'] }}"
                    var total_line_data = {{ vac_graph['chart_data']|tojson }}
                    var title_text = "{{vac_graph['chart_name']}}"
                </script>
                <script src="{{url_for('static', filename='js/line_chart.js')}}"></script>

            {% endfor %}

            <h1 class="text-white text-center">Distribution Statistics Of Vaccine</h1><br>

            {% for k, v in vaccine_agg.items() %}
                <div class="card text-white bg-danger m-1" style="max-width: 18rem;">
                    <div class="card-header">Facts</div>
                    <div class="card-body">
                        <h5 class="card-title">Average {{k}}</h5>
                        <p class="card-text">{{"{:,}".format(v['mean']|float|round)}}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock vaccine_distribution_data %}

